

.booksq-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.last-searches {
  flex: 1 100%;
}

.input-container {
  flex: 1 0 300px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  input {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    flex: 1;
  }

  button {
    cursor: pointer;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    padding: 10px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #45a049;
    }
  }
}

.result-container {
  flex: 2;
}

.result-item {
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.result-number {
  font-size: 18px;
  font-weight: bold;
}

.result-text,
.result-keyword {
  font-size: 16px;
}

.result-edition,
.result-surah-number,
.result-surah-name {
  font-size: 14px;
  color: #555;
}

.pagination-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.pagination-container button {
  padding: 10px 20px;
  border: none;
  background-color: #3498db;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #2980b9;
  }
}

.last-searches {
  margin-top: 20px;
}

.last-searches p {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.last-searches ul {
  list-style: none;
  padding: 0;
}

.last-searches li {
  font-size: 16px;
  margin-bottom: 5px;
}
