.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 40px;
  text-align: center;
  background-color: #f8f8f8; /* Ajout d'une couleur de fond */
}

.background-image {
  /* Ajoutez ici les styles pour votre image de fond, par exemple, background-image: url('votre-image.jpg'); */
}

.home-content {
  margin-bottom: 40px;
}

.home-title {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333; /* Couleur du texte */
}

.home-description {
  font-size: 18px;
  margin-bottom: 20px;
  color: #555; /* Couleur du texte légèrement plus claire */
}

.button-container {
  display: flex;
  justify-content: center;
}
.custom-alert {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

.custom-alert button {
  margin-top: 10px;
  padding: 5px 10px;
  cursor: pointer;
}

.home-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 0 10px; /* Espacement entre les boutons */
}

.home-button:hover {
  background-color: #555;
}
